rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita na coleção users e suas subcoleções
    match /users/{userId} {
      allow read, write: if true;
      
      // Subcoleção teste
      match /teste/{testId} {
        allow read, write: if true;
      }
      
      // Subcoleção sessao_agendada
      match /sessao_agendada/{scheduleId} {
        allow read, write: if true;
      }
    }
  }
}